.example-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container{
  display: grid;
  grid-template-columns: 20% 80%;
}

#product{
  /* padding: 0; */
  width: 100%;
  float: left;
  /* min-height: calc(100vh - 64px);   */
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* grid-template-rows: auto; */
  column-gap: 1em;
}