<div class="bg-dark border-right">
    <h3 class="text-light"> Categories </h3>  
    <hr class="text-white">  
    <div class="list-group list-reset">

      <mat-nav-list role="list">
        <mat-list-item (click)="cleanfilter()" mat-subheader> All products </mat-list-item>     
      </mat-nav-list>

      <mat-nav-list role="list">
        <div mat-subheader>Personajes</div>
        <div *ngFor="let cate of categories" class="itemcategory">
          <mat-list-item class="itemcategory" *ngFor="let personaje of cate.personaje" (click)="filtrar(personaje)"> 
           {{ personaje }}
          </mat-list-item>
        </div>        
      </mat-nav-list>

      <mat-nav-list role="list">
        <div mat-subheader>Sagas</div>
        <div *ngFor="let cate of categories" class="itemcategory">
          <mat-list-item *ngFor="let saga of cate.saga" (click)="filtrar(saga)"> 
            {{ saga }} 
          </mat-list-item>
        </div>        
      </mat-nav-list>

    </div>
  </div>